*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,
ol {
    list-style-type: none;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
.justify_center{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.justify_end{
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.justify_between{
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.valign_center{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;

}
/* header start */
header{
    background-color: #0f2f44;
    padding: 18px 0 18px 0;
}
.welcome{
    width: 50%;
    color: white;
}
.time{
    width: 50%;
    color: white;
    text-align: right;
}
/* header end */

/* menu start */
#nav{
    background-color: #ffffff;
}
.logo{
    width: 20%;
    padding: 35px 0 35px 0;
}
.menu{
    width: 80%;     
}
.menu ul{
  text-align: right;
}
.menu ul li{
 display: inline-block;
}
.menu ul li a{
    padding: 35px 20px 35px 20px;
    display: block;
    text-transform: capitalize;
    font-weight: 500;
    color: #444;
    font-size: 16px;
}
.menu ul li a:hover{
    color: #ffc712;
    background-color: #fff9e6;
}
.menu ul li input{
    opacity: 0;
    width: 0;
}
.menu ul li i{
    cursor: pointer;
}
.activesearchbar{
    opacity: 1;
    width: 150px;
}












/* menu end */

/* background part start */
.banner_items{
    height: 596px;
    background-position: center !important;
    background-size: cover !important;
}
.banner_items .row{
    height: 596px;
}
.motto{
    width: 50%;
}
.motto h2{
    font-size: 50px;
    margin-bottom: -40px;
}
.motto h1{
    font-size: 80px;
    font-family: 'Abril Fatface', cursive;
}
.motto h3{
    font-size: 32px;
    margin-bottom: 15px;
}
 p{
    line-height: 24px;
}
.motto button{
    background: #8484bf;
    border-radius:5px;
    padding: 14px 20px 14px 20px;
    font-size: 20px;
    margin-top: 40px;
}
/* background part end */

/*  about part start */
#about{
    padding: 130px 130px;
}
.abouttext,
.aboutimage{
    width: 50%;
}
.aboutimage img{
    width: 100%;
    background-position: center !important;
    background-size: cover !important;
}
.abouttext h4{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 35px;
    font-weight: 400;
}
h2{
    font-family: 'Abril Fatface', cursive;
    font-size: 35px;
    font-weight: 400;
    line-height: 60px;
}
 p{
    line-height: 30px;
    font-size: 21px;
}
.abouttext ul{
    margin-top: 15px;
    margin-left: 20px;
}
.abouttext ul li{
    line-height: 50px;
    font-size: 20px;
}
.abouttext button{
    margin: 25px 25px 0 0;
    font-size: 21px;
    font-weight: 700;
    padding: 20px 25px;
    border: none;
}
.abouttext button:hover{
    background-color: #ffc712;
    cursor: pointer;
}
/* about part end */

/* level part start  */
#level{
    margin-top: 20px;;
}
 #level span{
    text-align: right;
}
#level .levelimage{
    width: 45%;
}
#level .levelimage img{
    width: 100%;
    margin-top: 75px;
    background-position: center !important;
    background-size: cover !important;
    
}
.leveltext{
    width: 55%;
}
.leveltext img{
    width: 100%;
    background-position: center !important;
    background-size: cover !important;
    margin-left: 30px;
}
/* level part end */

/* services part start */
#service{
    padding: 50px 0;
    background-color: #f5f5f5;
}
.servicetext{
    padding-top: 50px;
    text-align: center;
}
#service .serviceitems{
    width: 33%;
    padding: 15px;
    position: relative;
}
.serviceitems .serviceicon{
    width: 40%;
    text-align: center;
    background-color: #e9e9e9;
}
.serviceicon img{
    margin-top: 75px;
}
.serviceitems .icontext{
    width: 60%;
    padding: 15px;
    background-color: #eeeeee;
}
.icontext p{
    margin-top: 15px;
    font-size: 14px;
}
.serviceitems .overflow{
    position: absolute;
    text-align: center;
    background-color: #0f2f44;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: 1s;
}
.overflow img{
    margin: 90px 0 20px 0;
}
.overflow h4{
    font-size: 22px;
    color: white;
    font-weight: 500;
}
.overflow i{
   font-size: 35px;
   height: 60px;
   width: 60px;
   background-color: #ffc712;
   padding: 10px;
   cursor: pointer;
   border-radius: 50%;
   margin-top: 30px;
}
.serviceitems:hover .overflow{
    opacity: 1;
   transform: rotate(360deg);
}
/* services part end */

/* portfolio start */
#portfolio{
    margin: 100px 0;
}
.portfoliotext{
    text-align: center;
}
#portfolio .portfolioimage{
    width: 33%;
    padding: 15px;
}
.port_cnt{
    position: relative;
    
}
.portfolioimage img{
    width: 100%;
    display: block;
}
.portfolioimage .overflow{
    position: absolute;
    overflow: hidden;
    text-align: center;
    background-color: rgba(237, 247, 234, 0.664);
    top: 350px;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: 1s;
}
.portfolioimage .overflow p{
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}
.port_cnt:hover .overflow{
    opacity: 1;
}
.port_cnt:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.portfolio_button p{
    margin-top: 55px;
    font-size: 25px;
    font-weight: 600;
    padding: 15px 20px;
    cursor: pointer;
    display: inline-block;
    background-color: #ffc712;
}
.portfolio_button{
    text-align: center;
}
/* portfolio end */

/* testimonial part start */
#testimonial{
    background-color: #f5f5f5;
    padding: 60px;
}
.testimonialtext{
    /* padding: 40px 0; */
    text-align: center;
    margin: 25px 0;
    
}
.san,.rane{
    width: 48%;
    
}
.sanimage{
    width: 48%;
}
.sanimage img{
    width: 100%;
    display: block;
}
.santext{
    width: 48%;
}
.santext p{
    font-size: 20px;
}
.santext p, h3{
    text-align: left;
    margin-top: 15px;
    padding-left: 15px;
    
}
.san{
    background-color: #e9e9e9;
}
.rane{
    background-color: #e9e9e9;
}

/* testimonial part end */

/* latest blog start */

.blogtext{
    text-align: center;
    margin: 25px 0;
}
.blogimage{
    width: 32%;
    transition: 1s;
    background-color: #f5f5f5;
}
.blogimage img{
    width: 100%;
    
}
.blog_cnt{
    padding: 20px;
}
.blog_cnt p{
    font-size: 14px;
    margin: 10px 0;
}
.blog_cnt h3{
    font-weight: 600;
    font-size: 20px;
    padding: 0;
    margin-bottom: 10px;
}
.blog_cnt a{
    font-weight: 600;
    font-size: 16px;
    color: #777777;
}
.blogimage:hover{
    background-color: #0f2f44;
    color: white;
}
.blogparts{
    position: relative;
}
.arrows span{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: red;
    color: black;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    bottom: 50%;
}
.arrows .prevArrow{
    left: 20px;
}
.arrows .nextArrow{
    left: 95%;
}
.blogbutton{
    text-align: center;
}
.blogbutton a{
    margin-top: 60px;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 15px;
    color: black;
    border-radius: 15px;
    cursor: pointer;
    display: inline-block;
    background-color: #ffc712;
}
/* latest blog end */


/* footer section part start */
#footer{
    background-color: #f5f5f5;
    margin-top: 30px;
}
.history, .contact, .link, .stream{
    width: 24%;
}
.history img{
    margin-top: 50px;
}
.history p{
    font-size: 14px;
    color: #777777;
    font-weight: 400;
    margin: 35px 0;
}
.history i{
    font-size: 20px;
    margin-right: 5px;
    height: 40px;
    padding: 10px;
    text-align: center;
    width: 40px;
    border-radius: 50%;
    border: 1px solid black;
}
.contact h3{
    margin: 50px 0;
    font-size: 20px;
    font-weight: 700;
}
.contact p{
    margin-top: 15px;
    font-size: 14px;
    color: #777777;
}
.contact i{
    padding-right: 15px;
    font-size: 25px;
    
}

.link h3{
    margin: 50px 0;
    font-size: 20px;
    font-weight: 700;
}
.link p{
    margin-top: 15px;
    font-size: 14px;
}
.link a{
   color: #777777;;
}

.streamimage{
    width: 25%;
}
.stream h3{
    margin: 50px 0;
    font-size: 20px;
    font-weight: 700;
}
.streamimage{
    width: 24%;
}
.streamimage img{
    width: 100%;
    margin-top:10px;
    padding: 5px;
}
/* footer section part end */